# **Chapter 1: Data Types and Operators**

## Learning Objectives:


*   Identify data types (integer, strings, floats, boolean) in Python
* Understand how to convert between data types
*   Familiarize with operations of various data types in Python
*  Know how different data types interact

**Special Thanks to: **

The following notes are adapted from the following people:

1. Darren
2. Sarah
3. Hakim
4. Chin Hong
5. Charlene

## 1.1 Data Types

In python, every "thing" is an object with a type. The four basic data types common across most languages are:

| Data Type | type() | Example |
|- | -| - |
| Integer | `<int>` | `25` |
| Float | `<float>` | `25.1 (Decimals)` |
| Boolean | `<bool>` | `True` or `False`|
| String | `<str>` | `'apple' (demarcated by ' ' or " ")`|

To check the type of data type, you can use the syntax `type()`

##### Example:

```Python
x = 1
print(type(x))
```
Output:

    <class 'int'>

In [ ]:
x = 1
y = 'hi'
z = 2.0
# Use the type() syntax to identify the datatype of each variables
type(x)

### 1.1.1 Data Conversion/Typecasting

Certain functions in Python takes in only a particular data type, or outputs data of a particular type. Thus, it would be essential to know how data can be converted from one type to another. The common functions for converting are **str, int** and **float**

In [ ]:
x=123; y='123'
y=float(y)
type(y)

## 1.2 Variables
* `Variables` are like algebra in mathematics. They store data which just like how you do algebra (assign `x=1`). However, unlike algebra where it can only store numbers, `Variables` can store all the 4 data types mentioned above.


### Rules for Variable Names


* Must start with letter or underscore
* Cannot contain spaces (use `_` instead)
* Should not use python's reserved names, e.g. `sum`, `list`, `for`, `def`, `if`, `else`. 
* Variables are case sensitive eg. `Apple` is not equal to `apple`
* Should not contain any symbols in it

Example of invalid names:

* `1a`
* `a b`

Example of valid names:

* `a1`
* `a_b`
* `number_list`
* `_name`

Some common variable naming conventions:

* Capital letters usually reserved for Classes, i.e. class Animal, versus variable animal
* To improve readibility, a variable name consisting of multiple words are separated by underscores, i.e. this_is_a_variable
* Most importantly, create variable names that are sensible to not just you, but those whom you would be working with as well

### 1.2.1 Variable Assignment

Assignment refers to the process of storing data to a particular variable 

i.e. Variable Name = Data to be stored/assigned.  (right to left)

In this case the equal sign (=) simply seeks to separate the variable and the targeted data, and it helps indicate to the computer what data is to be stored, and under what variable. Refer to the appendix for more details on **Variable Syntax**

There are three common types of assignment in Python, **Single, Chained and Multiple**.

In [ ]:
# Single Assignment
x = 1
print(x)

In [ ]:
# Chained Assignment
x=y=z=1
print(x)
print(y)
print(z)

In [ ]:
# Multiple Assignment
x,y,z=1,2,3
print(x)
print(y)
print(z)

### 1.2.1 Changing of variable values.

Python operates such that they process instructions **line by line.**
You can always change the value assigned to the variables anytime just by reassigning the value to the same variable.

##### Example:

```Python
x = 100
y = x + 100
print(a5)
y = y * 10
print(y)
```

Output:

    200
    2000

In [ ]:
x = 10000
y = x + 5
print(y)
x = 20000
y = x + 5
print(y)

## 1.3 Operators (and Puntuators)

Operators can be thought of as tools (acting on something) that you use in conjunction with the various data types. Below are a list of some common operators you would come across in Python:

<img src ="https://drive.google.com/uc?id=1klpWVzvf6sTms7CJOylHDx-cGH_GsE4E">

These operators are usually mathematical and logical tools.

Punctuators, as the name suggest, functions pretty much like punctuation. Below are some common punctuators you would come across in Python:
 
<img src="https://drive.google.com/uc?id=1SnqCumWDvPwCwVtWjin8aYmW1g5fL3U_">

### 1.3.2 Arithematic Operators
|<font size="+0.5"> **Operators**</font>|<font size="+0.5"> **Meaning**</font> | <font size="+0.5"> **Example** </font> |
|-- | :-- | :-- | 
    | <font size="+0.5">`+`</font> | <font size="+0.5">**Add** two operands of the **same data type**</font>  | <font size="+1">`1 + 1` results in `2`</font>|
    | <font size="+0.5">`-`</font> | <font size="+0.5">**Subtract** right operand from left</font> | <font size="+0.5">`2 - 1` results in `1`</font> |
    | <font size="+0.5">`*`</font> | <font size="+0.5">**Multiply** two operands</font> | <font size="+0.5">`1 * 2` results in `2`</font> |
    | <font size="+0.5">`/`</font> | <font size="+0.5">**Divide** left operand by the right one **(always results in a float)**</font> | <font size="+0.5">`4 / 2 ` results in `2.0`</font> |
    | <font size="+0.5">`//`</font> | <font size="+0.5">**Floor Division** : **Divide** left operand by the right one **(always rounds down the resulting quotient)**</font> | <font size="+0.5">`5 // 2` results in `2`</font> |
    | <font size="+0.5">`%`</font> | <font size="+0.5">**Modulus** : **return the remainder** of the division left operand by the right</font> | <font size="+0.5">`10 % 3` results in `1` </font>|
    | <font size="+0.5">`**`</font> | <font size="+0.5">**Power** : left operand **raised to the power** of the right</font> | <font size="+0.5">`10 ** 2` results in `100` </font>|

In [ ]:
x=5; y=3;z=-3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x//z)
print(x%y)
print(x**y)

The **operands can also be strings**, i.e. x='apple' and y='orange'.

In [ ]:
x='apple'; y='orange'
print(x+y)
print(7*x)

As you can see, application of arithematic operators on strings are quite limited.
* +, add two operands of the **same type** (in this case, also known as **concatenation/joining**), i.e. 'apple'+'orange'='appleorange'
* \*, **repeats the base operand** (if you think about it * is just multiple +), i.e. integer * base_operand/string

### Practice
### Question 1

Given the 2 variables `height` and `weight` below.
Compute the BMI with the following formula: <br><br>

<center><font size=4.5> $ BMI = \frac{weight(kg)}{(height(m))^{2}} $</font></center>

Expected output:

    21.093749999999996

In [ ]:
height = 160 # in centimetre
weight = '54' # in kg
# Please write your answer below
bmi = int(weight)/((height/100) **2)
print(bmi)

### Question 2
Given the 2 string variables `x` and `y`, obtain the following results

    'ACCCACCC'

In [ ]:
x = 'A'
y = 'C'
# Please write your answer below
print(2*(x+ 3*y))

### 1.3.3 Relational Operators

Commonly use to compare two sets of data (int, float, strings) and returns a Boolean, **True** or **False**

* ==, means **equal to**, e.g. x==y
* !=, means **not equal to**, e.g. x!=y
* <, means **less than**, e.g. x<y
* <=, means **less than or equal to**, e.g. x<=y
* \> , means **greater than**, e.g. x>y
* \>=, means **greater than or equal to**, e.g. x>=y

In [ ]:
x=5; y=3;z=5
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

What about strings? Can you compare between different data types. Lets see,

In [ ]:
x=5; y='5'
y = int(5)
y = float(5)
print(x==y)


### 1.3.4 String Comparison

* When comparing strings, Python converts the characters into their equivalent ordinal values and compares the integers from left to right starting from index 0.


> * If the characters are equal, increase the index by one and repeat the comparison. Else, the result of the comparison is returned

* If both strings are equal up to some point, then the longer string is greater, e.g. 'apples'>'apple'



##### Single Assignment:

```Python
print('abc'>'cba')
print('abd'>'abc')
print('apples'>'apple')
```
Output:

    False
    True
    True

In [ ]:
print('abc'>'cba')
print('abd'>'abc')
print('apples'>'apple')

### 1.3.5 Logical Operators

Logical operators seek to connect/compare Boolean values and return another Boolean value as a result of the comparison

* and, **returns True if and only if both Boolean values are True**, i.e. True **and** True returns True
* or, **returns True if either Boolean value is True**, i.e. True or False, False **or** True, both returns True
* not, **flips the Boolean value**, i.e. **not** True returns False

You can refer to the table below if you are still confuse as to what and/or/not does.

<img src="https://drive.google.com/uc?id=13Q7Sl_EzM6rFXewmVGbueBQ_zPn6DbhH">

In [ ]:
x=5; y=3
print((x<y) or not (x==y))
print((x<y) and not (x==y))
print((x<y) and (x==y))